/* @styled-jsx=global */

@import './grid';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overscroll-behavior-y: contain;
  user-select: none;
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  outline: none;
}


@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-display: swap;
  src: url('/static/font/Montserrat-Regular.ttf')
}
